## PYTHON BASICS

- Python is a dynamic, interpreted (bytecode-compiled), object-oriented language.

- There are no type declarations of variables, parameters, functions, or methods in source code. 

- This makes the code short and flexible, and you lose the compile-time type checking of the source code.

In [1]:
a='Hello'
print (a)

Hello

In [4]:
a=10
b=10.33
print (a,b)

10 10.33

In [3]:
x=10
y=2.3
z=True
n=None

type(x),type(y),type(z),type(n)

(int, float, bool, NoneType)

In [5]:
no=3

if(no%2==0):
    print("Even")
else:
    print("Odd")

Odd

In [28]:
no=4

result="Even" if no%2==0 else "Odd"
result

'Even'

In [9]:
no=0

if(no==0):
    print("Zero")
elif(no%2==0):
    print("Even")
else:
    print("Odd")

Zero

In [10]:
value=0

while(value<10):
    print(value)
    value+=1

0
1
2
3
4
5
6
7
8
9

In [11]:
days=['sun','mon','tue','wed','thu','fri','sat']

for d in days:
    print(d)

sun
mon
tue
wed
thu
fri
sat

In [12]:
for x in range(0,10):
    print(x)

0
1
2
3
4
5
6
7
8
9

## List

In [13]:
l=[1,2,3,4,5]
print(l)

[1, 2, 3, 4, 5]

In [19]:
l=list(range(20))
for i in l:
    print(i**2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361

In [23]:
l[0]

0

In [20]:
l[:3]

[0, 1, 2]

In [21]:
l[15:]

[15, 16, 17, 18, 19]

In [22]:
l[10:15]

[10, 11, 12, 13, 14]

## Dictionary

In [24]:
capitals={"India":"New Delhi","France":"Paris","Rome":"Italy",'UK':'London'}
capitals

{'India': 'New Delhi', 'France': 'Paris', 'Rome': 'Italy', 'UK': 'London'}

In [25]:
capitals['India']

'New Delhi'